---
layout: base.njk
---

<hr class="m-0 mb-3 border-t border-white/10 sm:hidden">

<link href="/css/article/main.min.css" rel="stylesheet">
<link href="/css/article/tweak.min.css" rel="stylesheet">

<article class="rounded pt-5 pb-2 sm:px-6 sm:my-4 bg-white/5 text-stone-300 sm:shadow-2xl select-text">
    <div id="header">
        <div class="mb-2 sm:mt-8">
            <svg class="w-4 h-4 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linejoin="round" stroke-width="2"
                    d="M10 6v4l3.276 3.276M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            {{ page.date.toISOString().split('T')[0] }}
        </div>
        <h1 class="m-0">{{ title }}</h1>
        <div class="mb-2 mt-4 flex gap-1">
            {% for tag in tags %}
            <code class="px-1 rounded bg-white/5 text-white/60">{{ tag | getCustomTagName }}</code>
            {% endfor %}
        </div>
        <a href="https://gitlab.com/syousuke1104/practice-note/-/blob/main/{{ page.inputPath }}" target="_blank"
            rel="noopener">ソースコードを表示</a>
    </div>
    <hr>
    <div id="content">
        {{ content | safe }}
    </div>
</article>

<link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/base16/material-palenight.min.css"
    rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/asciidoc.min.js"></script>
<script>hljs.highlightAll();</script>
