<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | {{ siteTitle }}</title>
    <!-- Twemoji -->
    <script src="https://unpkg.com/twemoji@14.0.2/dist/twemoji.min.js"></script>
    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com/3.3.5"></script>
    <script src="/js/tailwind.conf.js"></script>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
</head>

<body class="bg-neutral-800 min-h-screen flex flex-col text-stone-200 font-sans selection:bg-blue-500/30">
    <header class="px-6 py-3 shadow-xl bg-neutral-800 sm:sticky sm:top-0 sm:z-50">
        <nav class="mx-auto max-w-4xl flex items-center">
            <a class="text-xl" href="/">{{ siteTitle }}</a>
            <ul class="flex items-center gap-3 m-0 grow justify-end">
                <li>
                    <a class="inline-flex items-center" href="/">
                        <svg class="w-4 h-4 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M3 8v10a1 1 0 0 0 1 1h4v-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v5h4a1 1 0 0 0 1-1V8M1 10l9-9 9 9" />
                        </svg>
                        <span class="hidden sm:inline-block">ホーム</span>
                    </a>
                </li>
                <li>
                    <a class="inline-flex items-center" href="/tags/">
                        <svg class="w-4 h-4 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 19 18">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M13.583 5.445h.01M8.86 16.71l-6.573-6.63a.993.993 0 0 1 0-1.4l7.329-7.394A.98.98 0 0 1 10.31 1l5.734.007A1.968 1.968 0 0 1 18 2.983v5.5a.994.994 0 0 1-.316.727l-7.439 7.5a.975.975 0 0 1-1.385.001Z" />
                        </svg>
                        <span class="hidden sm:inline-block">タグ</span>
                    </a>
                </li>
                <li>
                    <a class="inline-flex items-center" href="https://gitlab.com/users/syousuke1104/projects"
                        target="_blank" rel="noopener">
                        <svg class="w-4 h-4 mr-1" viewBox="0 0 24 24" version="1.1" id="svg4" width="24" height="24"
                            xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                            <defs id="defs1">
                                <style id="style1">
                                    .cls-1 {
                                        fill: #e24329;
                                    }

                                    .cls-2 {
                                        fill: #fc6d26;
                                    }

                                    .cls-3 {
                                        fill: #fca326;
                                    }
                                </style>
                            </defs>
                            <g id="LOGO" transform="matrix(0.11455996,0,0,0.11461972,-9.7663964,-9.7785484)"
                                style="fill:none;fill-opacity:1;stroke:#e7e7e4;stroke-width:17.4536;stroke-dasharray:none;stroke-opacity:1">
                                <path class="cls-1"
                                    d="m 282.83,170.73 -0.27,-0.69 -26.14,-68.22 a 6.81,6.81 0 0 0 -2.69,-3.24 7,7 0 0 0 -8,0.43 7,7 0 0 0 -2.32,3.52 l -17.65,54 h -71.47 l -17.65,-54 a 6.86,6.86 0 0 0 -2.32,-3.53 7,7 0 0 0 -8,-0.43 6.87,6.87 0 0 0 -2.69,3.24 L 97.44,170 l -0.26,0.69 a 48.54,48.54 0 0 0 16.1,56.1 l 0.09,0.07 0.24,0.17 39.82,29.82 19.7,14.91 12,9.06 a 8.07,8.07 0 0 0 9.76,0 l 12,-9.06 19.7,-14.91 40.06,-30 0.1,-0.08 a 48.56,48.56 0 0 0 16.08,-56.04 z"
                                    id="path1"
                                    style="fill:none;fill-opacity:1;stroke:#e7e7e4;stroke-width:17.4536;stroke-dasharray:none;stroke-opacity:1" />
                                <path class="cls-2"
                                    d="m 282.83,170.73 -0.27,-0.69 a 88.3,88.3 0 0 0 -35.15,15.8 L 190,229.25 c 19.55,14.79 36.57,27.64 36.57,27.64 l 40.06,-30 0.1,-0.08 a 48.56,48.56 0 0 0 16.1,-56.08 z"
                                    id="path2"
                                    style="fill:none;fill-opacity:1;stroke:#e7e7e4;stroke-width:17.4536;stroke-dasharray:none;stroke-opacity:1" />
                                <path class="cls-3"
                                    d="m 153.43,256.89 19.7,14.91 12,9.06 a 8.07,8.07 0 0 0 9.76,0 l 12,-9.06 19.7,-14.91 c 0,0 -17.04,-12.89 -36.59,-27.64 -19.55,14.75 -36.57,27.64 -36.57,27.64 z"
                                    id="path3"
                                    style="fill:none;fill-opacity:1;stroke:#e7e7e4;stroke-width:17.4536;stroke-dasharray:none;stroke-opacity:1" />
                                <path class="cls-2"
                                    d="M 132.58,185.84 A 88.19,88.19 0 0 0 97.44,170 l -0.26,0.69 a 48.54,48.54 0 0 0 16.1,56.1 l 0.09,0.07 0.24,0.17 39.82,29.82 c 0,0 17,-12.85 36.57,-27.64 z"
                                    id="path4"
                                    style="fill:none;fill-opacity:1;stroke:#e7e7e4;stroke-width:17.4536;stroke-dasharray:none;stroke-opacity:1" />
                            </g>
                        </svg>
                        <span class="hidden sm:inline-block">GitLab</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="bg-neutral-800 px-4 sm:py-4 md:py-6 lg:py-12 grow">
        <div class="mx-auto max-w-4xl">
            {{ content | safe }}
        </div>
    </main>
    <footer class="my-10">
        <div class="mx-auto max-w-4xl text-center">
            <div>
                <p class="m-0 whitespace-nowrap">
                    Made with <a class="text-primary" href="https://asciidoc.org/" target="_blank"
                        rel="noopener">AsciiDoc</a> and <a class="text-primary" href="https://www.11ty.dev/"
                        target="_blank" rel="noopener">Eleventy</a>.<br>
                    Copyright &#169; 2023 syousuke.
                </p>
            </div>
            <nav>
                <ul class="flex flex-row justify-center list-none gap-4 whitespace-nowrap m-0 text-primary">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/license/">Licenses</a>
                    </li>
                    <li>
                        <a href="https://gitlab.com/syousuke1104/practice-note" target="_blank"
                            rel="noopener">Source</a>
                    </li>
                    <li>
                        <a href="https://gitlab.com/users/syousuke1104/projects" target="_blank"
                            rel="noopener">GitLab</a>
                    </li>
                    <li>
                        <a href="https://x.com/syousuke1104" target="_blank" rel="noopener">&#x1D54F;</a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
    <!-- Twemoji -->
    <script>twemoji.parse(document.body);</script>
</body>

</html>
