<a href="{{ article.url }}">
    <div class="px-4 py-3 sm:p-5 mb-2 sm:mb-3 rounded bg-white/5 hover:bg-white/10 transition sm:shadow-xl">

        <div class="mb-0.5 text-sm sm:text-base text-white/60">{{ article.date.toISOString().split('T')[0] }}</div>

        <h4 class="mb-2 text-lg sm:text-xl font-bold text-stone-300">{{ article.data.title }}</h4>

        <div class="flex gap-1 text-xs sm:text-sm">
            {% for tag in article.data.tags %}
            <code class="px-1 rounded bg-white/5 text-white/60">{{ tag | getCustomTagName }}</code>
            {% endfor %}
        </div>
    </div>
</a>
