---
layout: base.njk
---

<link href="/css/article/main.min.css" rel="stylesheet">
<link href="/css/article/tweak.min.css" rel="stylesheet">

<article class="rounded sm:px-6 pt-5 pb-2 sm:my-4 bg-white/5 text-stone-300 shadow-2xl">
    <div id="header" class="">
        <div class="flex items-center mb-2 mt-3">
            <svg class="w-4 h-4 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linejoin="round" stroke-width="2"
                    d="M10 6v4l3.276 3.276M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            <div>{{ page.date.toISOString().split('T')[0] }}</div>
        </div>
        <h1 class="m-0">{{ title }}</h1>
    </div>
    <hr>
    <div id="content">
        {{ content | safe }}
    </div>
</article>
