img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

.videoblock>.content>iframe[src^="https://www.youtube.com/"] {
    width: 100%;
    height: 56.25vw;
    max-width: 800px;
    max-height: 450px;
}

code {
    font-weight: normal;
}

code.hljs {
    background: rgba(0, 0, 0, 0.4);
}

article ul {
    list-style-type: disc;
}

article .toc ul {
    list-style-type: none;
}

article strong {
    color: #ffbe3d;
}

header a,
header a:hover,
header a:focus {
    color: inherit;
}

header ul {
    line-height: unset;
}

.imageblock img {
    border-radius: 0.25rem;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}
