---
layout: base.njk
permalink: /404.html
title: 404 Not found
eleventyExcludeFromCollections: true
---
<div class="flex flex-col items-center gap-3 h-[60vh] justify-center">
    🫠
    <h1 class="text-8xl sm:text-9xl">404</h1>
    <p class="text-4xl sm:text-5xl">Not found.</p>
</div>
