---
layout: base.njk
eleventyExcludeFromCollections: true
title: ホーム
---
<hr class="mb-3 border-white/10 sm:hidden">
<div class="flex items-center mb-4 sm:mb-6">
    <svg class="w-5 h-5 sm:w-7 sm:h-7 mx-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
        viewBox="0 0 20 20">
        <path fill="currentColor" d="M9.338 12.276a1.614 1.614 0 1 0 0-3.228 1.614 1.614 0 0 0 0 3.228Z" />
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m2.111 17.889 6.086-6.086m2.663-7.228 4.565 4.565-2.283 6.086L2.461 19 1 17.539 4.774 6.858l6.086-2.283Zm5.205 5.203-5.843-5.842L13.158 1 19 6.843l-2.935 2.935Zm-5.113.884a1.614 1.614 0 1 1-3.228 0 1.614 1.614 0 0 1 3.228 0Z" />
    </svg>
    <h2 class="text-2xl sm:text-3xl">記事</h2>
</div>
{% for article in collections.all | reverse %}
{% include "entry-box.njk" %}
{% endfor %}
