---
layout: base.njk
eleventyExcludeFromCollections: true
title: タグ
---
<hr class="mb-3 border-white/10 sm:hidden">
<div class="flex items-center mb-4 sm:mb-6">
    <svg class="w-5 h-5 sm:w-7 sm:h-7 mx-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
        viewBox="0 0 19 18">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M13.583 5.445h.01M8.86 16.71l-6.573-6.63a.993.993 0 0 1 0-1.4l7.329-7.394A.98.98 0 0 1 10.31 1l5.734.007A1.968 1.968 0 0 1 18 2.983v5.5a.994.994 0 0 1-.316.727l-7.439 7.5a.975.975 0 0 1-1.385.001Z" />
    </svg>
    <h2 class="text-2xl sm:text-3xl">{{ title }}</h2>
</div>

{% for key, articles in collections %}
{% if key !== "all" %}
<div class="text-stone-300 mb-6">
    <h5 class="text-lg sm:text-xl font-bold px-1 mb-2 sm:mb-3">
        {{ key | getCustomTagName }}
    </h5>

    {% for a in articles | reverse %}
    <a href="{{ a.page.url }}">
        <div
            class="bg-white/5 hover:bg-white/10 mb-2 sm:mb-3 rounded px-3 py-2 sm:px-4 sm:py-3 transition sm:text-lg sm:shadow-xl">
            {{ a.data.title }}
        </div>
    </a>
    {% endfor %}
</div>
{% endif %}
{% endfor %}
